<h2 [@fadeInOut]>Certificaciones</h2>
<ion-card [@slideInOut]>
  <ion-card-header>
    <ion-card-title [@fadeInOut]>Agregar Certificación</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-label position="floating">Nombre del Certificado</ion-label>
      <ion-input placeholder="Ejemplo: Angular Developer"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Fecha de Obtención</ion-label>
      <ion-datetime placeholder="Seleccione una fecha"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>¿El certificado tiene vencimiento?</ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Fecha de Vencimiento</ion-label>
      <ion-datetime placeholder="Seleccione una fecha"></ion-datetime>
    </ion-item>
  </ion-card-content>
</ion-card>
