<h2 [@fadeInOut]>Experiencia Laboral</h2>
<ion-card [@slideInOut]>
  <ion-card-header>
    <ion-card-title [@fadeInOut]>Agregar Experiencia Laboral</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-label position="floating">Empresa</ion-label>
      <ion-input placeholder="Nombre de la Empresa"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Año de Inicio</ion-label>
      <ion-input type="number" placeholder="Ejemplo: 2020"></ion-input>
    </ion-item>
    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Actualmente trabajo aquí</ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Año de Término</ion-label>
      <ion-input type="number" placeholder="Ejemplo: 2022"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Cargo</ion-label>
      <ion-input placeholder="Ejemplo: Desarrollador"></ion-input>
    </ion-item>
  </ion-card-content>
</ion-card>
