


ion-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
  }
  
  .navbar-center {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    width: 100%;
  }
  